@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
// @import "utils/_reset";
@import "utils/_normalize";
@import "utils/_smart-grid";


.wrapper{
    @include row-flex();
    @include col();
    @include size(1); /* Задаём размер элементу по-умолчанию - элементы будут занимать по 1 колонки */
    @include size-xl(12); /* при 1200px - На планшете по ... колонок */
    @include size-lg(6); /* при 992px - На планшете по ... колонок */
    @include size-md(6); /* при 768px - На планшете по ... колонок*/
    @include size-sm(6); /* при 576px - На телефоне по ... колонок*/
    @include size-xs(6); /* при 320px - На телефоне с маленьким экраном по ... колонок */

    @include md-block() {
        flex-direction: row;
        justify-content: space-between;
      }
    flex-direction: column;
    font-family: AvenirNextDemi, sans-serif;
}
