@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
// @import "utils/_reset";
@import "utils/_normalize";
@import "utils/_smart-grid";


.l-container {
  @include container();
}

.l-row {
  @include row-flex();
}

.img-example {
  @include col();
  @include size(12);
  background-color: #004444;
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
}

.logo {
  @include col();
  @include size(2);
  @include size-xl(2); /* при 1200px - На планшете по ... колонок */
  @include size-lg(2); /* при 992px - На планшете по ... колонок */
  @include size-md(2); /* при 768px - На планшете по ... колонок*/
  @include size-sm(2); /* при 576px - На телефоне по ... колонок*/
  @include size-xs(2); /* при 320px - На телефоне с маленьким экраном по ... колонок */
  background-color: yellow;
  height: 6rem;
}
